.links line {
    stroke: #999;
    stroke-opacity: 0.6;
}

.nodes circle {
    stroke: #fff;
    stroke-width: 1.5px;
}


.button {
    background-color: #848398;
    color: #f6f6f7;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width:75px;
    height:50px;
}

@font-face {
    font-family:"DINMedium";
    src: url("fonts/DINMedium.ttf")
}

.title {
    font-family: "DINMedium";
    font-size: 40px;
}

.text {
    font-family: "DINMedium";
    font-size: 20px;
}

body {
    background-color: #02012c;
    color: white;
}